@charset "UTF-8";
.header{
  padding: 10px 0;
}
.search{
  font-size: 0;
  margin-top: 10px;
  input{
    height: 40px;
    padding: 0 5px;
    border: 2px solid @baseColor;
    background: @white;
    float: left;
  }
  span{
    display: inline-block;
    height: 40px;
    background: @baseColor;
    padding: 7px;
    float: left;
    //img{
    //  width: 26px;
    //  height: 26px;
    //}
  }
}
