@charset "UTF-8";
//.index_bg{
//  position: relative;
.index_img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}

.index_content {
  //background: #fff;
  position: relative;
  z-index: 2;
  .container-fluid {
    background: @white;
  }
  .carousel {
    background: #fff;
  }
  .carousel-indicators {
    bottom: 12%;
  }
}

//}
.index_product {
  &.carousel-indicators {
    position: static;
    bottom: 10px;
    left: 0;
    width: 100%;
    padding-left: 0;
    li {
      width: 16.66666667% !important;
    }
  }
}

.index_product {
  .carousel-indicators {
    background: red;
    position: static;
    bottom: 0;
    left: 0 !important;
    z-index: 15;
    width: 100%;
    margin-left: 0 !important;
    margin-bottom: 0;
    text-align: center;
    list-style: none;
    padding: 0;
    li {
      float: left;
      display: inline-block;
      //width: 10.1%;
      width: 15.6%;
      height: auto;
      //margin: 0 6%;
      margin: 0 2%;
      cursor: pointer;
      text-indent: 0 !important;
      border: none;
      background-color: transparent;
      &:nth-child(1) {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        width: 28%;
        margin-top: 5%;
        border-radius: 4px;
        &.img01 {
          display: inline-block;
        }
        &.img02 {
          display: none;
        }
      }
      p {
        .word_omitted_two(1);
      }
      .arrow {
        display: none;
        .arrowTop(8px, 8px, 8px, @bg)
      }
      &.active {
        //box-shadow: 0 0 50px rgba(0, 0, 0, .2);
        //-webkit-transition: all .2s;
        //transition: all .2s;
        //-webkit-transform: translate3d(0, -2px, 0);
        //transform: translate3d(0, -2px, 0);
        img {
          &.img01 {
            display: none;
          }
          &.img02 {
            display: inline-block;
          }
        }
        p {
          color: @baseColor;
        }
        .arrow {
          display: block;
        }
      }
    }
  }
  &.product_content {
    background: @bg !important;
    .carousel-inner {
      .item {
        padding: 6% 0;
      }
    }
    .try_out {
      margin-top: 10%;
      display: inline-block;
      position: relative;
      //bottom:-80px;
      //left:0;
      z-index: 9999;
      padding-right: 15px;
      a{
        display: inline-block;
        color: @white;
        padding: 6px 15px;
        background: @baseColor;
        border-radius: 4px;
      }
      img{
        position: absolute;
        left: 100px;
        top:-55px;
        z-index: 99999;
        width: 130px;
        height:130px;
        display: none;
      }
      &:hover{
        img{
          display: block;
        }
      }
    }
    .know_more {
      //position: absolute;
      //bottom:-80px;
      //left: 80px;
      color: @baseColor;
      padding: 6px 15px;
      border: 1px solid @baseColor;
      border-radius: 4px;
      margin: 10% 0 0 5%;
      display: inline-block;
    }
  }
}

.industry {
  li {
    position: relative;
    margin: 0 0 50px;
    &.mar{
      margin: 0 12.5% 50px;
    }
    &:hover .industry_txt {
      a {
        //visibility: visible;
        color: @white;
        opacity: 1;
      }
      top: 20%;
    }
    .industry_txt {
      position: absolute;
      z-index: 21;
      top: 30%;
      left: 0;
      width: 100%;
      transition: top .6s ease;
      transform: translate3d(0, 0, 0);
      padding: 0 2%;
      p{
        //.word_omitted_two(1);
        &.f14{
          padding: 0 20px;
        }
      }
      a {
        padding: 5px 10px;
        border: 1px solid @white;
        border-radius: 5px;
        //visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease;
        display: inline-block;
        margin-top: 10px;
      }
    }
    &:hover {
      //img {
        //filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
        //-webkit-filter: blur(3px); /* Chrome, Opera */
        //-moz-filter: blur(3px);
        //-ms-filter: blur(3px);
        //filter: blur(3px);
        //filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1, MakeShadow=false); /* IE6~IE9 */
      //}
      //a {
      //  opacity: 1.0; /*可以改变数值*/
      //  transition: opacity 2s ease-in-out; /*可以改变时间*/
      //  -moz-transition: opacity 2s ease-in-out;
      //  -webkit-transition: opacity 2s ease-in-out;
      //}
    }
  }
}

.case {
  padding-bottom: 2%;
  background: rgba(0, 0, 0, 0.37) !important;
  .page-column-title {
    color: @white;
    margin-bottom: 3%;
  }
  .case_li02{
    margin: 0 12.5% 50px;
  }



  li {
    position: relative;
    overflow: hidden;
    //height: 250px;
    //min-height: 120px;
    padding-top: 21.4%;
    margin-bottom: 50px;
    &:nth-child(3n-1) {
      margin: 0 12.5% 50px;
    }
    & > img {
      position: absolute;
      height: 50%;
      top: 0;
      width: 100%;
    }

    img {
      display: block;
      height: auto;
      //width: 75%;
      margin: 0 auto;
    }
    .case_txt {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      //left: 12.5%;
      height: 100%;
      padding: 2% 5%;
      background: @white;
      transition: all .5s linear;
      p {
        margin-bottom: 6%;
      }
      .logo {
        width: 85%;
        margin: 4% auto;
      }
      .ewm {
        width: 40%;
      }
    }
    &:hover {
      .case_txt {
        top: 0;
        box-sizing: border-box;
      }
    }
  }




  @media (min-width: 768px){
    li{
      height: 160px;
    }
  }
  @media (min-width: 992px){
    li{
      height: 207.5px;
    }
  }
  @media (min-width: 1200px){
    li{
      height: 250px;
    }
  }


  .more_case {
    display: inline-block;
    padding: 10px 40px;
    margin-top: 2%;
    color: #646464;
    border-radius: 4px;
    background: @white;
    &:hover {
      color: @baseColor;
    }
  }
}

//技术支持
.technology {
  background: #F8F8F8;
}

.partner_num {
  padding: 0.72% 0;
  background: url("/website/images/static/home/num_bg.png") no-repeat 100% 100% !important;
  .container {
    p {
      margin: 0;
    }
  }
}

//新闻动态
.new{
  .row{
    .col-sm-4{
      width: 28%;
      &.new_ul01{
        margin-right: 8%;
      }
      &.new_ul02{
        //margin: 0 4%;
      }
      &.new_ul03{
        margin-left: 8%;
      }
    }
    li {
      position: relative;
      overflow: hidden;
      line-height: 2em;
      width: 100%;
      .over-flow_omit();
      a{
        color: @gray;
        span{
          margin-right: 10px;
        }
        &:hover{
          color: @baseColor;
        }
      }
      &.news_logo {
        width: 100%;
        min-height: 100px;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          transition: 2s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

//底部立即注册
.register {
  padding: 2vw;
  background: #0FBFD8 !important;
  line-height: 1;
  .cont{
    //padding: 0 15.5%;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
  }

  a {
    padding: 8px 25px;
    margin-left: 50px;
    border: 1px solid @white;
    border-radius: 5px;
    color: @white;
    display: inline-block;
    line-height: 1;
    &:hover{
      color: @baseColor;
      background: @white;
      border-color: @white;
    }
  }
}

//下载
.load{
  background: #f8f8f8 !important;
  .row{
    li{
      position: relative;
      padding: 0 5%;
      img{
        width: 60%;
        margin-bottom: 30px;
      }
      .cover{
        display: none;
        position: absolute;
        top:0;
        left:20%;
        width: 60%;
        height:100%;
        background: #fff;
        box-shadow: 0 0 42px hsla(0,0%,68%,.6);
        img{
          width: 70%;
          height: auto;
          margin: 55px auto 0;
        }
        .load_btn{
          display: inline-block;
          margin: 90px auto;
          width: 60%;
          padding: 5px 0;
          color: #fff;
          background: #f8b600;
          border-radius: 5px;
        }
      }
    }
  }
}

.point-area {
  text-align: center;
  position: relative;
  width: 150px;
  height: 150px;
  transition: opacity .5s ease-out;
}

.point-area .point {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background: transparent
}

.point-area .point-shadow:after {
  box-shadow: inset 0 0 5em rgba(0, 205, 236, .16)
}

.point-area .point-white {
  background-color: #fff;
  border: 1px solid #00c1de
}

.point-area .point-dot {
  z-index: 1;
  background-color: #6ad7e9;
  border: 1px solid rgba(0, 205, 236, .37)
}

.point-area .point-10 {
  width: 100%;
  height: 100%
}

.point-area .point-10:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 225ms infinite;
  animation: ripple 4.5s ease-out 225ms infinite;
}

.point-area .point-20 {
  width: 100%;
  height: 100%
}

.point-area .point-20:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out .45s infinite;
  animation: ripple 4.5s ease-out .45s infinite
}

.point-area .point-30 {
  width: 100%;
  height: 100%
}

.point-area .point-30:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 675ms infinite;
  animation: ripple 4.5s ease-out 675ms infinite
}

.point-area .point-40 {
  width: 100%;
  height: 100%
}

.point-area .point-40:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out .9s infinite;
  animation: ripple 4.5s ease-out .9s infinite
}

.point-area .point-50 {
  width: 100%;
  height: 100%
}

.point-area .point-50:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 1125ms infinite;
  animation: ripple 4.5s ease-out 1125ms infinite
}

.point-area .point-60 {
  width: 100%;
  height: 100%
}

.point-area .point-60:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 1.35s infinite;
  animation: ripple 4.5s ease-out 1.35s infinite
}

.point-area .point-70 {
  width: 100%;
  height: 100%
}

.point-area .point-70:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 1575ms infinite;
  animation: ripple 4.5s ease-out 1575ms infinite
}

.point-area .point-80 {
  width: 100%;
  height: 100%
}

.point-area .point-80:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 1.8s infinite;
  animation: ripple 4.5s ease-out 1.8s infinite
}

.point-area .point-90 {
  width: 100%;
  height: 100%
}

.point-area .point-90:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 2025ms infinite;
  animation: ripple 4.5s ease-out 2025ms infinite
}

.point-area .point-100 {
  width: 100%;
  height: 100%
}

.point-area .point-100:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid @baseColor;
  opacity: 0;
  -webkit-animation: ripple 4.5s ease-out 2.25s infinite;
  animation: ripple 4.5s ease-out 2.25s infinite
}

@-webkit-keyframes ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(.1)
  }

  5% {
    opacity: 1
  }

  to {
    opacity: 0;
    -webkit-transform: scale(1)
  }
}

@keyframes ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(.1);
    transform: scale(.1)
  }

  5% {
    opacity: 1
  }

  to {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

.service {
  background: @bg !important;
}

//banner公告
.notice {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2) !important;
  span {
    //padding: 1.8% 1% 2% 0;
    line-height: 55px;
  }
  ul {
    li {
      height: 55px;
      .word_omitted_two(1);
      a {
        display: block;
        //padding: 6% 1%;
        padding: 0 2%;
        line-height: 55px;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.15);
        a {
          color: @white;
        }
      }
    }
  }
}

.service_li {
  li {
    &.col-sm-3 {
      background: @white;
      margin: 0 7.91% !important;
    }
  }
}
